div.jqcloud {
  font-family: "Helvetica", sans-serif;
  font-size: 10px;
  line-height: normal;
}

div.jqcloud span.w10{ font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

div.blue.jqcloud span.w10{ color: #00aaff; }
div.blue.jqcloud span.w9 { color: #0fa8ff; }
div.blue.jqcloud span.w8 { color: #1ea4fe; }
div.blue.jqcloud span.w7 { color: #2da0fc; }
div.blue.jqcloud span.w6 { color: #3c9cfa; }
div.blue.jqcloud span.w5 { color: #4b98f8; }
div.blue.jqcloud span.w4 { color: #5a94f6; }
div.blue.jqcloud span.w3 { color: #6990f4; }
div.blue.jqcloud span.w2 { color: #788cf2; }
div.blue.jqcloud span.w1 { color: #8888f0; }

div.red.jqcloud span.w10{ color: #ff0000; }
div.red.jqcloud span.w9 { color: #fd1212; }
div.red.jqcloud span.w8 { color: #fc2424; }
div.red.jqcloud span.w7 { color: #fa3636; }
div.red.jqcloud span.w6 { color: #f84848; }
div.red.jqcloud span.w5 { color: #f75a5a; }
div.red.jqcloud span.w4 { color: #f56c6c; }
div.red.jqcloud span.w3 { color: #f37e7e; }
div.red.jqcloud span.w2 { color: #f29090; }
div.red.jqcloud span.w1 { color: #f0aaaa; }

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span {
  padding: 0;
  position: absolute;
}